:root {
    --color-white: #FFFFFF;
    --color-warning: gold;
    --color-danger: orange;
    --color-success: yellowgreen;
    --color-dark: #000000;
    --color-grey: #B0B0B0;
    --color-lightgrey: #666666;
    --color-darkgrey: #1E1E1E;
    --color-blue: #5C56F6;
}