@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

:root {
    --theme-main-background-color: #F3F4F8;
    --container-width: 90%;
    --header-height: 100px;
    --profile-image-size: 60px;
    --theme-color-while: #fff;
    --theme-color-burn: #FF2D20;
    --theme-color-warning: #FCC301;
    --theme-color-success: #32CD32;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--theme-main-background-color);
}

.calendar {
    height: 450px;
}

.container-custom {
    width: var(--container-width);
    margin: 0 auto;
}

.gups {
    gap: 1rem;
}

.menu {
    background-color: var(--theme-color-while);
}

.margin-relative-header {
    margin-top: calc(var(--header-height));
}

.menu-height {
    height: calc(100vh - var(--header-height));
}

.profile_image {
    width: var(--profile-image-size);
    height: var(--profile-image-size);
    border: 1px solid red;
    border-radius: 50px;
}

header.header {
    z-index: 999;
    height: var(--header-height);
}

.privet {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: bold;
    max-height: 1080px;
    max-width: 2100px;
}

.par {
    font-size: 32px;
}

.bgdz {
    margin-bottom: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 121px;
    width: 528px;
}

.bgdz-01 {
    background: url('./image/Rectangle 7.png');
}

.bgdz-02 {
    background: url('./image/Rectangle 6.png');
}

.bgdz-03 {
    background: url('./image/Rectangle 8.png');
}

.silki {
    width: 100%;
    text-decoration: none;
    border: none;
}

.dz-items {
    max-width: 254px;
    max-height: 54px;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    bottom: 0;
    font-weight: normal;
    color: #fff;
}

.item-tema {
    position: relative;
    left: 23px;
    top: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}

.item-zadanie {
    position: relative;
    left: 23px;
    font-size: 15px;
}

.timebox {
    max-width: 156px;
    max-height: 40px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    top: 70px;
    left: 105px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

.bg-color-burn {
    background-color: var(--theme-color-burn);
}

.bg-color-warning {
    background-color: var(--theme-color-warning);
}

.bg-color-success {
    background-color: var(--theme-color-success);
}

.item-time {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.bgdz-01 {
    background: url('../images/Rectangle 7.png');
}

.bgdz-02 {
    background: url('../images/Rectangle 6.png');
}

.bgdz-03 {
    background: url('../images/Rectangle 8.png');
}

._container {
    max-width: 1600px;
    width: 100%;
    height: 45vh;
}

.table {
    width: 100%;
    margin: 0 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.table th, .table td {
    text-align: center;
    padding: 10px;
    border: 1px solid #282828;
    border-top: none;
    min-height: 43px;
    min-width: 43px;
    vertical-align: middle;
}

.table th:first-child {
    border-top-left-radius: 10px;
    border-left: none;
}

.table td:first-child {
    border-left: none;
}

.table td:last-child {
    border-right: none;
}

.table th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

.ramka {
    border-radius: 10px;
    outline: 2px solid #000;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    height: 100%;
    overflow: auto;
}

.table thead {
    background-color: #5C56F6;
    color: #fff;
}

.table td:hover:not(:first-child):not(:last-child) {
    background-color: #E7E9F5;
}

.table tbody {
    border-bottom: 10px;
}

.selected-cell {
    cursor: pointer;
}