@page "/Error"
@model ErrorModel
@{
    ViewData["Title"] = "Произошла ошибка!";
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    Произошла ошибка :(
</p>
