@page "/Jurnal"
@model SystemDiaryClient.Pages.JurnalModel
@{
    ViewData["Title"] = "Журнал";
}

<div class="_container">
    <div class="ramka">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Дисциплина
                    </th>
                    @for (int i = 1; i <= 31; i++)
                    {
                        <th>@i</th>
                    }
                    <th>Итог</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Математическое моделирование
                    </td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td>5,00</td>
                </tr>
                <tr>
                    <td>
                        <div>Моудли</div>
                    </td>
                    <td>5</td>
                    <td></td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td>5</td>
                    <td></td>
                    <td>2</td>
                    <td>2</td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td>5</td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td>4,21</td>
                </tr>
                <tr>
                    <td>
                        Элементы Высшей математики и численные методы
                    </td>
                    <td>5</td>
                    <td></td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td>5</td>
                    <td></td>
                    <td>2</td>
                    <td>2</td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td>5</td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td>4,21</td>
                </tr>
                <tr>
                    <td>
                        Элементы Высшей математики и численные методы
                    </td>
                    <td>5</td>
                    <td></td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td>5</td>
                    <td></td>
                    <td>2</td>
                    <td>2</td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td>5</td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td>4,21</td>
                </tr>
                <tr>
                    <td>
                        Элементы Высшей математики и численные методы
                    </td>
                    <td>5</td>
                    <td></td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td>5</td>
                    <td></td>
                    <td>2</td>
                    <td>2</td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td>5</td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td>4,21</td>
                </tr>
                <tr>
                    <td>
                        Элементы Высшей математики и численные методы
                    </td>
                    <td>5</td>
                    <td></td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td>5</td>
                    <td></td>
                    <td>2</td>
                    <td>2</td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td>5</td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td>4,21</td>
                </tr>
                <tr>
                    <td>
                        Элементы Высшей математики и численные методы

                    </td>
                    <td>5</td>
                    <td></td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td>5</td>
                    <td></td>
                    <td>2</td>
                    <td>2</td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td>5</td>
                    <td>2</td>
                    <td></td>
                    <td>5</td>
                    <td>4,21</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
