@page "/Jurnal"
@using System.Globalization
@model SystemDiaryClient.Pages.JurnalModel
@{
    ViewData["Title"] = "Журнал";
}

<div class="_container">
    <div class="ramka">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Дисциплина
                    </th>

                    @{
                        int month = DateTime.Now.Month;
                        int year = DateTime.Now.Year;
                        CultureInfo provider = CultureInfo.InvariantCulture;
                    }

                    @for (int i = 1; i <= Model.DaysInThisMonth; i++)
                    {
                        @if (DateTime.ParseExact($"{month}/{i}/{year}", "M/d/yyyy", provider).Date.DayOfWeek != DayOfWeek.Sunday)
                        {
                            <th>@i</th>
                        }
                    }
                    <th>Итог</th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.Subjects.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.Subjects[i]
                        </td>

                        @for (int j = 1; j <= Model.DaysInThisMonth; j++)
                        {
                            @if (DateTime.ParseExact($"{month}/{j}/{year}", "M/d/yyyy", provider).Date.DayOfWeek != DayOfWeek.Sunday)
                            {
                                <td>5</td>
                            }
                        }
                        <td>
                            VAL
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>