@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
* {
padding: 0;
margin: 0;
outline: none;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
}

body
{
	font-size:48px;
	font-style: "Open Sans Regular";

}

.general-timetable__content
{
  background-color: #FFFFFF;
  max-width: 1510px;
  width:100%;
  max-height: 865px;
  height: 100%;
  font-size: 0.667em;
  color:#9695AF;
  flex-flow: row wrap;
  display: flex;
}

.block
{
	width: 420px;
	height: 420px;
	border-style: dashed solid;
	border-width: 5px;
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	text-align: center;
	align-items: center;
}

.middleblock
{
	width: 630px;	
	height: 200px;
}

.bigblock
{
	width: 630px;	
	height: 420px;
}

.block,.middleblock,.bigblock{
	border-radius: 15px;
}
.icon
{
	width: 160px;	
	height: 142px;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	background-size: cover!important;
}

.general-timetable__view__icon
{
	background: url(../image/general-timetable-view-timetable-icon.png);
}

.general-timetable__input__icon
{
	background: url(../image/general-timetable-input-change-timetable-icon.png);
}

.general-timetable__excel-output__icon
{
	background: url(../image/general-timetable-excel-output-timetable-icon.png);
}		

.general-timetable__excel-change__icon
{
	background: url(../image/general-timetable-input-change-timetable-icon.png);
}	

.general-timetable__edit-window__icon
{
	background: url(../image/general-timetable-edit-timetable-icon.png);
}
.general-timetable__bell-window__icon
{
	background: url(../image/general-timetable-bell-icon.png);	
}

/*.general-timetable__edit
{
	width: calc(2*630px + 20px*4);
}

@media screen and (max-width 1510px)
{
.general-timetable_higth-row
{
	width:70%;
}
*/







