@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #F3F4F8;
  font-size: 48px;
}

.timetable__content {
  background-color: transparent;
  max-width: 1510px;
  width: 100%;
  /* max-height: 865px; */
  height: 100%;
  color: #9695af;
  flex-flow: row wrap;
  display: flex;
  gap: 20px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.block {
  width: 420px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 60px 60px 40px 60px;
}

.middleblock {
  width: 630px;
  height: 200px;
  display: flex;
  align-items: center;
  padding:50px 40px 50px 40px ;
}

.bigblock {
  width: 630px;
  height: 420px;
  padding: 40px 40px 50px 40px;
}

.block,
.middleblock,
.bigblock {
  border-radius: 15px;
  border-width: 5px;
  background-color: #FFF;
}

.title {
  font-size: 0.67em;
}

.day {
  font-size:0.42em;
}

.groups {
  color: #B7681E;
  font-size: 0.3em;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 13px;
  margin-bottom: 20px;
}

.group{
  background-color: #FFC500;
  border-radius: 100px;
  width: 100px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.timetable__edit-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon {
  width: 160px;
  height: 142px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: contain !important;
}

.block:hover,
.middleblock:hover{
  color:#FFF;
  background-color: #5C56F6;
  cursor: pointer;
}



.timetable__view__icon {
  background: url(../image/general-timetable-view-timetable-icon.png);
}

.timetable__input__icon {
  background: url(../image/general-timetable-input-change-timetable-icon.png);
}

.timetable__excel-output__icon {
  background: url(../image/general-timetable-excel-output-timetable-icon.png);
}

.timetable__excel-change__icon {
  background: url(../image/general-timetable-excel-output-change-icon.png);
}

.timetable__edit-window__icon {
  background: url(../image/general-timetable-edit-timetable-icon.png);
}
.timetable__bell-window__icon {
  background: url(../image/general-timetable-bell-icon.png);
}

/*.timetable__edit {
	width: calc(2*630px + 20px*4);
}

@media screen and (max-width 1510px) {
.timetable_higth-row {
	width:70%;
}


@media screen and (max-width: 760px) {
  .add-timetable__navigation__kurs {
    width: calc(3*170px + 2*20px);
    height: calc(2*60 + 20px);
  }

  .kurs__block {
    margin-bottom: 20px;
    width: 70%;
  }
}
*/
