body {
  background-color: white;
  display: flex;
  flex-position: row;
  justify-contnet: space-between;
  
}

input[type=text] {
  outline: none;
  text-align: center;
  font-size: 1.25em;
  font-family: "Open Sans Regular";
}

.add-calls-menu {
  background-color: white;
  width: 600px;
  height: 370px;
  border-radius: 15px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px #9695AF solid;
  box-shadow: 0 5px 20px rgba(150, 149, 175, 0.8);
}

.add-calls-menu__line {
  background-color: #9695AF;
  height: 370px;
  width: 1px;
  left: auto;
  margin: auto;
}

.add-calls-menu__common-content {
  width:237px;
  height:330px;
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-calls-menu__content__text {
  font-size: 1em;
  font-family: "Open Sans Regular";
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
}

.add-calls-menu__content__text-main {
  font-family: "Open Sans SemiBold";
}

.add-calls-menu__individual-content__input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
}

.add-calls-menu__individual-content__input textarea {
  border: none;
  border-bottom: 1px #9695AF solid;
  background-color: none;
  height: 90px;
  font-size: 1em;
  resize: none;
  padding: 5px;
  width: 220px;
  height: 21px;
  scrollbar-color: none;
  font-size: 0.9375em;
  font-family: "Open Sans Regular";
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.add-calls-menu__individual-content__input textarea:focus {
  outline: none;
  border-bottom: 1px #5C56F6 solid;
}

.add-calls-menu__individual-content__input span {
  font-size: 0.8125em;
  font-family: "Open Sans Regular";
  color: #9695AF;
}

.add-calls-menu__individual-content__input {
  margin-left: auto;
  margin-right: auto;
}

.add-calls-menu__individual-content {
  width:240px;
  height:300px;
  margin-top: 20px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-calls-menu__content__title {
  font-size: 1.25em;
  font-family: "Open Sans SemiBold";
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.add-calls-menu__common-content__check-box {
  height: 20px;
  width:20px;
  border: 1px black solid;
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.add-calls-menu__common-content__day-of-week {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  height: 262px;
  justify-content: space-between;
}

.add-calls-menu__common-content__day-of-week span {
  font-size: 1.25em;
  font-family: "Open Sans Regular";
  margin-bottom: auto;
}

/*####################*/
.custom-checkbox {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.custom-checkbox-icon {
  font-family: "Open Sans Regular";
  margin-top: auto;
  margin-bottom: auto;
}

span.custom-checkbox-icon::selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-selct: none;
  background-color: transparent;
  font-family: "Open Sans Regular";
  font-size: 1.25em;
}

.custom-checkbox input[type=checkbox] {
  display: none;
}

.custom-checkbox-icon {
  font-size: 1.25em;
}

span.custom-checkbox-icon::before {
  font-family: 'SystemDiary' !important;
  content: "\ecd0";
  margin-right: 10px;
  margin-top: auto;
  #9695AF
}

input[type=checkbox]:checked + span.custom-checkbox-icon::before {
  font-family: 'SystemDiary' !important;
  content: "\ea12";
  margin-right: 10px;
  margin-top: auto;
  color: #5C56F6;
}

/*####################*/