.timetable-add-calls__header__header-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-span-style{
    font-size: 0.5em;
    margin-top: 15px;
}

.timetable-step-buttons{
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;

    color: #9695AF;
    font-size: 0.41em;
    
    width: 240px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.buttons-style-hover:hover{
    color:#5C56F6;
    cursor: pointer;
}

.style-icon{
    font-size: 0.7em;
}

.timetable-step-marker{
    display: flex;
    flex-direction: row;
}

.timetable-step-marker__container{
    background-color: #fff;
    color:#9695AF;
    font-size: 0.5em;
    display:flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.timetable-step-marker__line{
    display: flex;
    align-items: center;
    
}
.timetable-step-marker__line__container{
    width: 50px;
    height: 2px;
    background-color: #fff;
    
    margin: 0 5px;
}

.styleActivePage{
    background-color: #5C56F6;
    color:#fff;
}