$icomoon-font-family: "SystemDiary" !default;
$icomoon-font-path: "fonts" !default;

$icon-fi-rr-a: "\e901";
$icon-fi-rr-ad: "\e902";
$icon-fi-rr-add: "\e903";
$icon-fi-rr-add-document: "\e904";
$icon-fi-rr-add-folder: "\e905";
$icon-fi-rr-address-book: "\e906";
$icon-fi-rr-air-conditioner: "\e907";
$icon-fi-rr-air-freshener: "\e908";
$icon-fi-rr-alarm-clock: "\e909";
$icon-fi-rr-alarm-exclamation: "\e90a";
$icon-fi-rr-alarm-plus: "\e90b";
$icon-fi-rr-alarm-snooze: "\e90c";
$icon-fi-rr-align-justify: "\e90d";
$icon-fi-rr-align-left: "\e90e";
$icon-fi-rr-ambulance: "\e90f";
$icon-fi-rr-angle-circle-down: "\e910";
$icon-fi-rr-angle-circle-left: "\e911";
$icon-fi-rr-angle-circle-right: "\e912";
$icon-fi-rr-angle-circle-up: "\e913";
$icon-fi-rr-angle-double-left: "\e914";
$icon-fi-rr-angle-double-right: "\e915";
$icon-fi-rr-angle-double-small-down: "\e916";
$icon-fi-rr-angle-double-small-left: "\e917";
$icon-fi-rr-angle-double-small-right: "\e918";
$icon-fi-rr-angle-double-small-up: "\e919";
$icon-fi-rr-angle-down: "\e91a";
$icon-fi-rr-angle-left: "\e91b";
$icon-fi-rr-angle-right: "\e91c";
$icon-fi-rr-angle-small-down: "\e91d";
$icon-fi-rr-angle-small-left: "\e91e";
$icon-fi-rr-angle-small-right: "\e91f";
$icon-fi-rr-angle-small-up: "\e920";
$icon-fi-rr-angle-square-down: "\e921";
$icon-fi-rr-angle-square-left: "\e922";
$icon-fi-rr-angle-square-right: "\e923";
$icon-fi-rr-angle-square-up: "\e924";
$icon-fi-rr-angle-up: "\e925";
$icon-fi-rr-angry: "\e926";
$icon-fi-rr-apple-whole: "\e927";
$icon-fi-rr-apps: "\e928";
$icon-fi-rr-apps-add: "\e929";
$icon-fi-rr-apps-delete: "\e92a";
$icon-fi-rr-apps-sort: "\e92b";
$icon-fi-rr-archive: "\e92c";
$icon-fi-rr-arrow-alt-circle-down: "\e92d";
$icon-fi-rr-arrow-alt-circle-left: "\e92e";
$icon-fi-rr-arrow-alt-circle-right: "\e92f";
$icon-fi-rr-arrow-alt-circle-up: "\e930";
$icon-fi-rr-arrow-alt-down: "\e931";
$icon-fi-rr-arrow-alt-from-bottom: "\e932";
$icon-fi-rr-arrow-alt-from-left: "\e933";
$icon-fi-rr-arrow-alt-from-right: "\e934";
$icon-fi-rr-arrow-alt-from-top: "\e935";
$icon-fi-rr-arrow-alt-left: "\e936";
$icon-fi-rr-arrow-alt-right: "\e937";
$icon-fi-rr-arrow-alt-square-down: "\e938";
$icon-fi-rr-arrow-alt-square-left: "\e939";
$icon-fi-rr-arrow-alt-square-right: "\e93a";
$icon-fi-rr-arrow-alt-square-up: "\e93b";
$icon-fi-rr-arrow-alt-to-bottom: "\e93c";
$icon-fi-rr-arrow-alt-to-left: "\e93d";
$icon-fi-rr-arrow-alt-to-right: "\e93e";
$icon-fi-rr-arrow-alt-to-top: "\e93f";
$icon-fi-rr-arrow-alt-up: "\e940";
$icon-fi-rr-arrow-circle-down: "\e941";
$icon-fi-rr-arrow-circle-left: "\e942";
$icon-fi-rr-arrow-circle-right: "\e943";
$icon-fi-rr-arrow-circle-up: "\e944";
$icon-fi-rr-arrow-down: "\e945";
$icon-fi-rr-arrow-from-bottom: "\e946";
$icon-fi-rr-arrow-from-left: "\e947";
$icon-fi-rr-arrow-from-right: "\e948";
$icon-fi-rr-arrow-from-top: "\e949";
$icon-fi-rr-arrow-left: "\e94a";
$icon-fi-rr-arrow-right: "\e94b";
$icon-fi-rr-arrows: "\e94c";
$icon-fi-rr-arrows-alt: "\e94d";
$icon-fi-rr-arrows-alt-h: "\e94e";
$icon-fi-rr-arrows-alt-v: "\e94f";
$icon-fi-rr-arrows-cross: "\e950";
$icon-fi-rr-arrows-from-dotted-line: "\e951";
$icon-fi-rr-arrows-from-line: "\e952";
$icon-fi-rr-arrows-h: "\e953";
$icon-fi-rr-arrows-h-copy: "\e954";
$icon-fi-rr-arrow-small-down: "\e955";
$icon-fi-rr-arrow-small-left: "\e956";
$icon-fi-rr-arrow-small-right: "\e957";
$icon-fi-rr-arrow-small-up: "\e958";
$icon-fi-rr-arrow-square-down: "\e959";
$icon-fi-rr-arrow-square-left: "\e95a";
$icon-fi-rr-arrow-square-right: "\e95b";
$icon-fi-rr-arrow-square-up: "\e95c";
$icon-fi-rr-arrows-repeat: "\e95d";
$icon-fi-rr-arrows-repeat-1: "\e95e";
$icon-fi-rr-arrows-to-dotted-line: "\e95f";
$icon-fi-rr-arrows-to-line: "\e960";
$icon-fi-rr-arrow-to-bottom: "\e961";
$icon-fi-rr-arrow-to-left: "\e962";
$icon-fi-rr-arrow-to-right: "\e963";
$icon-fi-rr-arrow-to-top: "\e964";
$icon-fi-rr-arrow-trend-down: "\e965";
$icon-fi-rr-arrow-trend-up: "\e966";
$icon-fi-rr-arrow-up: "\e967";
$icon-fi-rr-arrow-up-from-square: "\e968";
$icon-fi-rr-arrow-up-left: "\e969";
$icon-fi-rr-arrow-up-left-from-circle: "\e96a";
$icon-fi-rr-arrow-up-right: "\e96b";
$icon-fi-rr-arrow-up-right-and-arrow-down-left-from-center: "\e96c";
$icon-fi-rr-arrow-up-right-from-square: "\e96d";
$icon-fi-rr-arrow-up-square-triangle: "\e96e";
$icon-fi-rr-arrow-up-to-dotted-line: "\e96f";
$icon-fi-rr-assept-document: "\e970";
$icon-fi-rr-assistive-listening-systems: "\e971";
$icon-fi-rr-asterik: "\e972";
$icon-fi-rr-at: "\e973";
$icon-fi-rr-aubergine: "\e974";
$icon-fi-rr-avocado: "\e975";
$icon-fi-rr-b: "\e976";
$icon-fi-rr-baby-carriage: "\e977";
$icon-fi-rr-backpack: "\e978";
$icon-fi-rr-bacon: "\e979";
$icon-fi-rr-badge: "\e97a";
$icon-fi-rr-badge-check: "\e97b";
$icon-fi-rr-badge-dollar: "\e97c";
$icon-fi-rr-badge-percent: "\e97d";
$icon-fi-rr-badge-sheriff: "\e97e";
$icon-fi-rr-bags-shopping: "\e97f";
$icon-fi-rr-bahai: "\e980";
$icon-fi-rr-balance-scale-left: "\e981";
$icon-fi-rr-balance-scale-right: "\e982";
$icon-fi-rr-ball: "\e983";
$icon-fi-rr-balloons: "\e984";
$icon-fi-rr-ballot: "\e985";
$icon-fi-rr-ban: "\e986";
$icon-fi-rr-band-aid: "\e987";
$icon-fi-rr-bank: "\e988";
$icon-fi-rr-barber-shop: "\e989";
$icon-fi-rr-barcode: "\e98a";
$icon-fi-rr-barcode-read: "\e98b";
$icon-fi-rr-barcode-scan: "\e98c";
$icon-fi-rr-bars-progress: "\e98d";
$icon-fi-rr-baseball: "\e98e";
$icon-fi-rr-baseball-alt: "\e98f";
$icon-fi-rr-basket: "\e990";
$icon-fi-rr-basketball: "\e991";
$icon-fi-rr-bed: "\e992";
$icon-fi-rr-bed-alt: "\e993";
$icon-fi-rr-beer: "\e994";
$icon-fi-rr-bell: "\e995";
$icon-fi-rr-bell-ring: "\e996";
$icon-fi-rr-bell-school: "\e997";
$icon-fi-rr-bike: "\e998";
$icon-fi-rr-biking: "\e999";
$icon-fi-rr-biking-mountain: "\e99a";
$icon-fi-rr-billiard: "\e99b";
$icon-fi-rr-blinds: "\e99c";
$icon-fi-rr-blinds-open: "\e99d";
$icon-fi-rr-blinds-raised: "\e99e";
$icon-fi-rr-bold: "\e99f";
$icon-fi-rr-bolt: "\e9a0";
$icon-fi-rr-book: "\e9a1";
$icon-fi-rr-book-alt: "\e9a2";
$icon-fi-rr-book-arrow-right: "\e9a3";
$icon-fi-rr-book-arrow-up: "\e9a4";
$icon-fi-rr-book-bookmark: "\e9a5";
$icon-fi-rr-bookmark: "\e9a6";
$icon-fi-rr-book-open-cover: "\e9a7";
$icon-fi-rr-book-open-reader: "\e9a8";
$icon-fi-rr-books: "\e9a9";
$icon-fi-rr-bottle: "\e9aa";
$icon-fi-rr-bow-arrow: "\e9ab";
$icon-fi-rr-bowling: "\e9ac";
$icon-fi-rr-bowling-ball: "\e9ad";
$icon-fi-rr-bowling-pins: "\e9ae";
$icon-fi-rr-box: "\e9af";
$icon-fi-rr-box-alt: "\e9b0";
$icon-fi-rr-box-ballot: "\e9b1";
$icon-fi-rr-box-check: "\e9b2";
$icon-fi-rr-boxes: "\e9b3";
$icon-fi-rr-boxing-glove: "\e9b4";
$icon-fi-rr-box-tissue: "\e9b5";
$icon-fi-rr-braille: "\e9b6";
$icon-fi-rr-brain-circuit: "\e9b7";
$icon-fi-rr-bread: "\e9b8";
$icon-fi-rr-bread-slice: "\e9b9";
$icon-fi-rr-briefcase: "\e9ba";
$icon-fi-rr-broccoli: "\e9bb";
$icon-fi-rr-broom: "\e9bc";
$icon-fi-rr-browser: "\e9bd";
$icon-fi-rr-brush: "\e9be";
$icon-fi-rr-bug: "\e9bf";
$icon-fi-rr-building: "\e9c0";
$icon-fi-rr-bulb: "\e9c1";
$icon-fi-rr-bullseye: "\e9c2";
$icon-fi-rr-bullseye-pointer: "\e9c3";
$icon-fi-rr-burrito: "\e9c4";
$icon-fi-rr-bus: "\e9c5";
$icon-fi-rr-bus-alt: "\e9c6";
$icon-fi-rr-business-time: "\e9c7";
$icon-fi-rr-butterfly: "\e9c8";
$icon-fi-rr-c: "\e9c9";
$icon-fi-rr-cake-birthday: "\e9ca";
$icon-fi-rr-cake-wedding: "\e9cb";
$icon-fi-rr-calculator: "\e9cc";
$icon-fi-rr-calendar: "\e9cd";
$icon-fi-rr-calendar-check: "\e9ce";
$icon-fi-rr-calendar-clock: "\e9cf";
$icon-fi-rr-calendar-exclamation: "\e9d0";
$icon-fi-rr-calendar-lines: "\e9d1";
$icon-fi-rr-calendar-lines-pen: "\e9d2";
$icon-fi-rr-calendar-minus: "\e9d3";
$icon-fi-rr-calendar-pen: "\e9d4";
$icon-fi-rr-calendar-plus: "\e9d5";
$icon-fi-rr-calendars: "\e9d6";
$icon-fi-rr-call-history: "\e9d7";
$icon-fi-rr-call-incoming: "\e9d8";
$icon-fi-rr-call-missed: "\e9d9";
$icon-fi-rr-call-outgoing: "\e9da";
$icon-fi-rr-camcorder: "\e9db";
$icon-fi-rr-camera: "\e9dc";
$icon-fi-rr-camping: "\e9dd";
$icon-fi-rr-candy: "\e9de";
$icon-fi-rr-candy-alt: "\e9df";
$icon-fi-rr-canned-food: "\e9e0";
$icon-fi-rr-car: "\e9e1";
$icon-fi-rr-car-alt: "\e9e2";
$icon-fi-rr-caravan: "\e9e3";
$icon-fi-rr-caravan-alt: "\e9e4";
$icon-fi-rr-car-battery: "\e9e5";
$icon-fi-rr-car-bolt: "\e9e6";
$icon-fi-rr-car-building: "\e9e7";
$icon-fi-rr-car-bump: "\e9e8";
$icon-fi-rr-car-bus: "\e9e9";
$icon-fi-rr-car-circle-bolt: "\e9ea";
$icon-fi-rr-car-crash: "\e9eb";
$icon-fi-rr-caret-circle-down: "\e9ec";
$icon-fi-rr-caret-circle-right: "\e9ed";
$icon-fi-rr-caret-circle-up: "\e9ee";
$icon-fi-rr-caret-down: "\e9ef";
$icon-fi-rr-caret-left: "\e9f0";
$icon-fi-rr-caret-quare-up: "\e9f1";
$icon-fi-rr-caret-right: "\e9f2";
$icon-fi-rr-caret-square-down: "\e9f3";
$icon-fi-rr-caret-square-left: "\e9f4";
$icon-fi-rr-caret-square-left_1: "\e9f5";
$icon-fi-rr-caret-square-right: "\e9f6";
$icon-fi-rr-caret-up: "\e9f7";
$icon-fi-rr-car-garage: "\e9f8";
$icon-fi-rr-car-mechanic: "\e9f9";
$icon-fi-rr-carrot: "\e9fa";
$icon-fi-rr-cars: "\e9fb";
$icon-fi-rr-car-side: "\e9fc";
$icon-fi-rr-car-side-bolt: "\e9fd";
$icon-fi-rr-car-tilt: "\e9fe";
$icon-fi-rr-car-wash: "\e9ff";
$icon-fi-rr-cash-register: "\ea00";
$icon-fi-rr-chair: "\ea01";
$icon-fi-rr-chair-office: "\ea02";
$icon-fi-rr-charging-station: "\ea03";
$icon-fi-rr-chart-area: "\ea04";
$icon-fi-rr-chart-connected: "\ea05";
$icon-fi-rr-chart-histogram: "\ea06";
$icon-fi-rr-chart-line-up: "\ea07";
$icon-fi-rr-chart-network: "\ea08";
$icon-fi-rr-chart-pie: "\ea09";
$icon-fi-rr-chart-pie-alt: "\ea0a";
$icon-fi-rr-chart-pyramid: "\ea0b";
$icon-fi-rr-chart-scatter: "\ea0c";
$icon-fi-rr-chart-set-theory: "\ea0d";
$icon-fi-rr-chart-tree: "\ea0e";
$icon-fi-rr-chat-arrow-down: "\ea0f";
$icon-fi-rr-chat-arrow-grow: "\ea10";
$icon-fi-rr-check: "\ea11";
$icon-fi-rr-checkbox: "\ea12";
$icon-fi-rr-cheese: "\ea13";
$icon-fi-rr-cherry: "\ea14";
$icon-fi-rr-chess: "\ea15";
$icon-fi-rr-chess-bishop: "\ea16";
$icon-fi-rr-chess-board: "\ea17";
$icon-fi-rr-chess-clock: "\ea18";
$icon-fi-rr-chess-clock-alt: "\ea19";
$icon-fi-rr-chess-king: "\ea1a";
$icon-fi-rr-chess-king-alt: "\ea1b";
$icon-fi-rr-chess-knight: "\ea1c";
$icon-fi-rr-chess-knight-alt: "\ea1d";
$icon-fi-rr-chess-pawn-alt: "\ea1e";
$icon-fi-rr-chess-piece: "\ea1f";
$icon-fi-rr-chess-queen: "\ea20";
$icon-fi-rr-chess-queen-alt: "\ea21";
$icon-fi-rr-chess-rook: "\ea22";
$icon-fi-rr-chess-rook-alt: "\ea23";
$icon-fi-rr-chevron-double-down: "\ea24";
$icon-fi-rr-chevron-double-up: "\ea25";
$icon-fi-rr-child-head: "\ea26";
$icon-fi-rr-chocolate: "\ea27";
$icon-fi-rr-circle: "\ea28";
$icon-fi-rr-circle-envelope: "\ea29";
$icon-fi-rr-circle-phone: "\ea2a";
$icon-fi-rr-circle-phone-flip: "\ea2b";
$icon-fi-rr-circle-phone-hangup: "\ea2c";
$icon-fi-rr-circle-small: "\ea2d";
$icon-fi-rr-clip: "\ea2e";
$icon-fi-rr-clipboard-list: "\ea2f";
$icon-fi-rr-clipboard-list-check: "\ea30";
$icon-fi-rr-clock: "\ea31";
$icon-fi-rr-clock-eight-thirty: "\ea32";
$icon-fi-rr-clock-eleven: "\ea33";
$icon-fi-rr-clock-eleven-thirty: "\ea34";
$icon-fi-rr-clock-five: "\ea35";
$icon-fi-rr-clock-five-thirty: "\ea36";
$icon-fi-rr-clock-four-thirty: "\ea37";
$icon-fi-rr-clock-nine: "\ea38";
$icon-fi-rr-clock-nine-thirty: "\ea39";
$icon-fi-rr-clock-one: "\ea3a";
$icon-fi-rr-clock-one-thirty: "\ea3b";
$icon-fi-rr-clock-seven: "\ea3c";
$icon-fi-rr-clock-seven-thirty: "\ea3d";
$icon-fi-rr-clock-six: "\ea3e";
$icon-fi-rr-clock-six-thirty: "\ea3f";
$icon-fi-rr-clock-ten: "\ea40";
$icon-fi-rr-clock-ten-thirty: "\ea41";
$icon-fi-rr-clock-three: "\ea42";
$icon-fi-rr-clock-three-thirty: "\ea43";
$icon-fi-rr-clock-twelve: "\ea44";
$icon-fi-rr-clock-twelve-thirty: "\ea45";
$icon-fi-rr-clock-two: "\ea46";
$icon-fi-rr-clock-two-thirty: "\ea47";
$icon-fi-rr-cloud: "\ea48";
$icon-fi-rr-cloud-check: "\ea49";
$icon-fi-rr-cloud-disabled: "\ea4a";
$icon-fi-rr-cloud-download: "\ea4b";
$icon-fi-rr-cloud-download-alt: "\ea4c";
$icon-fi-rr-cloud-drizzle: "\ea4d";
$icon-fi-rr-cloud-hail: "\ea4e";
$icon-fi-rr-cloud-hail-mixed: "\ea4f";
$icon-fi-rr-cloud-moon: "\ea50";
$icon-fi-rr-cloud-moon-rain: "\ea51";
$icon-fi-rr-cloud-rain: "\ea52";
$icon-fi-rr-cloud-rainbow: "\ea53";
$icon-fi-rr-clouds: "\ea54";
$icon-fi-rr-cloud-share: "\ea55";
$icon-fi-rr-cloud-showers: "\ea56";
$icon-fi-rr-cloud-showers-heavy: "\ea57";
$icon-fi-rr-cloud-sleet: "\ea58";
$icon-fi-rr-clouds-moon: "\ea59";
$icon-fi-rr-cloud-snow: "\ea5a";
$icon-fi-rr-clouds-sun: "\ea5b";
$icon-fi-rr-cloud-sun: "\ea5c";
$icon-fi-rr-cloud-sun-rain: "\ea5d";
$icon-fi-rr-cloud-upload: "\ea5e";
$icon-fi-rr-cloud-upload-alt: "\ea5f";
$icon-fi-rr-club: "\ea60";
$icon-fi-rr-cocktail: "\ea61";
$icon-fi-rr-cocktail-alt: "\ea62";
$icon-fi-rr-code-branch: "\ea63";
$icon-fi-rr-code-commit: "\ea64";
$icon-fi-rr-code-compare: "\ea65";
$icon-fi-rr-code-fork: "\ea66";
$icon-fi-rr-code-merge: "\ea67";
$icon-fi-rr-code-pull-request: "\ea68";
$icon-fi-rr-code-pull-request-closed: "\ea69";
$icon-fi-rr-code-pull-request-draft: "\ea6a";
$icon-fi-rr-code-simple: "\ea6b";
$icon-fi-rr-coffee: "\ea6c";
$icon-fi-rr-coffee-pot: "\ea6d";
$icon-fi-rr-coin: "\ea6e";
$icon-fi-rr-coins: "\ea6f";
$icon-fi-rr-comet: "\ea70";
$icon-fi-rr-comment: "\ea71";
$icon-fi-rr-comment-alt: "\ea72";
$icon-fi-rr-comment-alt-middle: "\ea73";
$icon-fi-rr-comment-alt-middle-top: "\ea74";
$icon-fi-rr-comment-arrow-down: "\ea75";
$icon-fi-rr-comment-arrow-up: "\ea76";
$icon-fi-rr-comment-arrow-up-right: "\ea77";
$icon-fi-rr-comment-check: "\ea78";
$icon-fi-rr-comment-code: "\ea79";
$icon-fi-rr-comment-dollar: "\ea7a";
$icon-fi-rr-comment-exclamation: "\ea7b";
$icon-fi-rr-comment-heart: "\ea7c";
$icon-fi-rr-comment-image: "\ea7d";
$icon-fi-rr-comment-info: "\ea7e";
$icon-fi-rr-comment-pen: "\ea7f";
$icon-fi-rr-comment-question: "\ea80";
$icon-fi-rr-comment-quote: "\ea81";
$icon-fi-rr-comments: "\ea82";
$icon-fi-rr-comments-dollar: "\ea83";
$icon-fi-rr-comment-slash: "\ea84";
$icon-fi-rr-comment-sms: "\ea85";
$icon-fi-rr-comments-question: "\ea86";
$icon-fi-rr-comments-question-check: "\ea87";
$icon-fi-rr-comment-text: "\ea88";
$icon-fi-rr-comment-user: "\ea89";
$icon-fi-rr-comment-xmark: "\ea8a";
$icon-fi-rr-compress: "\ea8b";
$icon-fi-rr-compress-alt: "\ea8c";
$icon-fi-rr-computer: "\ea8d";
$icon-fi-rr-confetti: "\ea8e";
$icon-fi-rr-cookie: "\ea8f";
$icon-fi-rr-copy: "\ea90";
$icon-fi-rr-copy-alt: "\ea91";
$icon-fi-rr-copyright: "\ea92";
$icon-fi-rr-corn: "\ea93";
$icon-fi-rr-cow: "\ea94";
$icon-fi-rr-cream: "\ea95";
$icon-fi-rr-credit-card: "\ea96";
$icon-fi-rr-cricket: "\ea97";
$icon-fi-rr-croissant: "\ea98";
$icon-fi-rr-cross: "\ea99";
$icon-fi-rr-cross-circle: "\ea9a";
$icon-fi-rr-cross-small: "\ea9b";
$icon-fi-rr-crown: "\ea9c";
$icon-fi-rr-crystal-ball: "\ea9d";
$icon-fi-rr-cube: "\ea9e";
$icon-fi-rr-cupcake: "\ea9f";
$icon-fi-rr-curling: "\eaa0";
$icon-fi-rr-cursor: "\eaa1";
$icon-fi-rr-cursor-finger: "\eaa2";
$icon-fi-rr-cursor-plus: "\eaa3";
$icon-fi-rr-cursor-text: "\eaa4";
$icon-fi-rr-cursor-text-alt: "\eaa5";
$icon-fi-rr-d: "\eaa6";
$icon-fi-rr-dart: "\eaa7";
$icon-fi-rr-dashboard: "\eaa8";
$icon-fi-rr-database: "\eaa9";
$icon-fi-rr-data-transfer: "\eaaa";
$icon-fi-rr-delete: "\eaab";
$icon-fi-rr-delete-document: "\eaac";
$icon-fi-rr-delete-user: "\eaad";
$icon-fi-rr-democrat: "\eaae";
$icon-fi-rr-dewpoint: "\eaaf";
$icon-fi-rr-diagram-project: "\eab0";
$icon-fi-rr-diamond: "\eab1";
$icon-fi-rr-dice: "\eab2";
$icon-fi-rr-dice-alt: "\eab3";
$icon-fi-rr-dice-d4: "\eab4";
$icon-fi-rr-dice-d6: "\eab5";
$icon-fi-rr-dice-d8: "\eab6";
$icon-fi-rr-dice-d10: "\eab7";
$icon-fi-rr-dice-d12: "\eab8";
$icon-fi-rr-dice-d20: "\eab9";
$icon-fi-rr-dice-four: "\eaba";
$icon-fi-rr-dice-one: "\eabb";
$icon-fi-rr-dice-six: "\eabc";
$icon-fi-rr-dice-three: "\eabd";
$icon-fi-rr-dice-two: "\eabe";
$icon-fi-rr-diploma: "\eabf";
$icon-fi-rr-disco-ball: "\eac0";
$icon-fi-rr-disk: "\eac1";
$icon-fi-rr-display-code: "\eac2";
$icon-fi-rr-dizzy: "\eac3";
$icon-fi-rr-doctor: "\eac4";
$icon-fi-rr-document: "\eac5";
$icon-fi-rr-document-signed: "\eac6";
$icon-fi-rr-dollar: "\eac7";
$icon-fi-rr-donate: "\eac8";
$icon-fi-rr-down-left-and-up-right-to-center: "\eac9";
$icon-fi-rr-download: "\eaca";
$icon-fi-rr-drafting-compass: "\eacb";
$icon-fi-rr-dreidel: "\eacc";
$icon-fi-rr-drink-alt: "\eacd";
$icon-fi-rr-drumstick: "\eace";
$icon-fi-rr-duplicate: "\eacf";
$icon-fi-rr-e: "\ead0";
$icon-fi-rr-earnings: "\ead1";
$icon-fi-rr-eclipse: "\ead2";
$icon-fi-rr-eclipse-alt: "\ead3";
$icon-fi-rr-edit: "\ead4";
$icon-fi-rr-edit-alt: "\ead5";
$icon-fi-rr-egg: "\ead6";
$icon-fi-rr-egg-fried: "\ead7";
$icon-fi-rr-e-learning: "\ead8";
$icon-fi-rr-engine-warning: "\ead9";
$icon-fi-rr-enter: "\eada";
$icon-fi-rr-envelope: "\eadb";
$icon-fi-rr-envelope-ban: "\eadc";
$icon-fi-rr-envelope-bulk: "\eadd";
$icon-fi-rr-envelope-download: "\eade";
$icon-fi-rr-envelope-marker: "\eadf";
$icon-fi-rr-envelope-open: "\eae0";
$icon-fi-rr-envelope-open-dollar: "\eae1";
$icon-fi-rr-envelope-open-text: "\eae2";
$icon-fi-rr-envelope-plus: "\eae3";
$icon-fi-rr-equality: "\eae4";
$icon-fi-rr-euro: "\eae5";
$icon-fi-rr-exchange: "\eae6";
$icon-fi-rr-exchange-alt: "\eae7";
$icon-fi-rr-exclamation: "\eae8";
$icon-fi-rr-exit: "\eae9";
$icon-fi-rr-expand: "\eaea";
$icon-fi-rr-expand-arrows: "\eaeb";
$icon-fi-rr-expand-arrows-alt: "\eaec";
$icon-fi-rr-eye: "\eaed";
$icon-fi-rr-eye-crossed: "\eaee";
$icon-fi-rr-eye-dropper: "\eaef";
$icon-fi-rr-f: "\eaf0";
$icon-fi-rr-feather: "\eaf1";
$icon-fi-rr-ferris-wheel: "\eaf2";
$icon-fi-rr-fighter-jet: "\eaf3";
$icon-fi-rr-file: "\eaf4";
$icon-fi-rr-file-ai: "\eaf5";
$icon-fi-rr-file-chart-line: "\eaf6";
$icon-fi-rr-file-chart-pie: "\eaf7";
$icon-fi-rr-file-code: "\eaf8";
$icon-fi-rr-file-eps: "\eaf9";
$icon-fi-rr-file-invoice: "\eafa";
$icon-fi-rr-file-invoice-dollar: "\eafb";
$icon-fi-rr-file-psd: "\eafc";
$icon-fi-rr-file-spreadsheet: "\eafd";
$icon-fi-rr-file-video: "\eafe";
$icon-fi-rr-fill: "\eaff";
$icon-fi-rr-film: "\eb00";
$icon-fi-rr-film-slash: "\eb01";
$icon-fi-rr-filter: "\eb02";
$icon-fi-rr-filters: "\eb03";
$icon-fi-rr-filter-slash: "\eb04";
$icon-fi-rr-fingerprint: "\eb05";
$icon-fi-rr-fish: "\eb06";
$icon-fi-rr-flag: "\eb07";
$icon-fi-rr-flag-alt: "\eb08";
$icon-fi-rr-flag-usa: "\eb09";
$icon-fi-rr-flame: "\eb0a";
$icon-fi-rr-flip-horizontal: "\eb0b";
$icon-fi-rr-flower: "\eb0c";
$icon-fi-rr-flower-bouquet: "\eb0d";
$icon-fi-rr-flower-tulip: "\eb0e";
$icon-fi-rr-flushed: "\eb0f";
$icon-fi-rr-fog: "\eb10";
$icon-fi-rr-folder: "\eb11";
$icon-fi-rr-folder-download: "\eb12";
$icon-fi-rr-folder-minus: "\eb13";
$icon-fi-rr-folders: "\eb14";
$icon-fi-rr-folder-times: "\eb15";
$icon-fi-rr-folder-tree: "\eb16";
$icon-fi-rr-folder-upload: "\eb17";
$icon-fi-rr-following: "\eb18";
$icon-fi-rr-football: "\eb19";
$icon-fi-rr-fork: "\eb1a";
$icon-fi-rr-form: "\eb1b";
$icon-fi-rr-forward: "\eb1c";
$icon-fi-rr-fox: "\eb1d";
$icon-fi-rr-french-fries: "\eb1e";
$icon-fi-rr-frown: "\eb1f";
$icon-fi-rr-ftp: "\eb20";
$icon-fi-rr-funnel-dollar: "\eb21";
$icon-fi-rr-g: "\eb22";
$icon-fi-rr-gallery: "\eb23";
$icon-fi-rr-game-board-alt: "\eb24";
$icon-fi-rr-gamepad: "\eb25";
$icon-fi-rr-garage: "\eb26";
$icon-fi-rr-garage-car: "\eb27";
$icon-fi-rr-garage-open: "\eb28";
$icon-fi-rr-garlic: "\eb29";
$icon-fi-rr-gas-pump: "\eb2a";
$icon-fi-rr-gas-pump-alt: "\eb2b";
$icon-fi-rr-gas-pump-slash: "\eb2c";
$icon-fi-rr-gem: "\eb2d";
$icon-fi-rr-gif: "\eb2e";
$icon-fi-rr-gift: "\eb2f";
$icon-fi-rr-gift-card: "\eb30";
$icon-fi-rr-gifts: "\eb31";
$icon-fi-rr-gingerbread-man: "\eb32";
$icon-fi-rr-glass: "\eb33";
$icon-fi-rr-glass-cheers: "\eb34";
$icon-fi-rr-glasses: "\eb35";
$icon-fi-rr-globe: "\eb36";
$icon-fi-rr-globe-alt: "\eb37";
$icon-fi-rr-golf: "\eb38";
$icon-fi-rr-golf-ball: "\eb39";
$icon-fi-rr-graduation-cap: "\eb3a";
$icon-fi-rr-grape: "\eb3b";
$icon-fi-rr-graphic-tablet: "\eb3c";
$icon-fi-rr-grid: "\eb3d";
$icon-fi-rr-grid-alt: "\eb3e";
$icon-fi-rr-grill: "\eb3f";
$icon-fi-rr-grimace: "\eb40";
$icon-fi-rr-grin: "\eb41";
$icon-fi-rr-grin-alt: "\eb42";
$icon-fi-rr-grin-beam: "\eb43";
$icon-fi-rr-grin-beam-sweat: "\eb44";
$icon-fi-rr-grin-hearts: "\eb45";
$icon-fi-rr-grin-squint: "\eb46";
$icon-fi-rr-grin-squint-tears: "\eb47";
$icon-fi-rr-grin-stars: "\eb48";
$icon-fi-rr-grin-tears: "\eb49";
$icon-fi-rr-grin-tongue: "\eb4a";
$icon-fi-rr-grin-tongue-squint: "\eb4b";
$icon-fi-rr-grin-tongue-wink: "\eb4c";
$icon-fi-rr-grin-wink: "\eb4d";
$icon-fi-rr-guitar: "\eb4e";
$icon-fi-rr-gym: "\eb4f";
$icon-fi-rr-h: "\eb50";
$icon-fi-rr-hamburger: "\eb51";
$icon-fi-rr-hamburger-soda: "\eb52";
$icon-fi-rr-hand: "\eb53";
$icon-fi-rr-hand-holding-box: "\eb54";
$icon-fi-rr-hand-holding-heart: "\eb55";
$icon-fi-rr-hand-holding-seeding: "\eb56";
$icon-fi-rr-handshake: "\eb57";
$icon-fi-rr-hastag: "\eb58";
$icon-fi-rr-hat-birthday: "\eb59";
$icon-fi-rr-hat-chef: "\eb5a";
$icon-fi-rr-headphones: "\eb5b";
$icon-fi-rr-headset: "\eb5c";
$icon-fi-rr-head-side-thinking: "\eb5d";
$icon-fi-rr-heart: "\eb5e";
$icon-fi-rr-heart-arrow: "\eb5f";
$icon-fi-rr-heat: "\eb60";
$icon-fi-rr-helicopter-side: "\eb61";
$icon-fi-rr-highlighter: "\eb62";
$icon-fi-rr-hiking: "\eb63";
$icon-fi-rr-hockey-puck: "\eb64";
$icon-fi-rr-hockey-sticks: "\eb65";
$icon-fi-rr-home: "\eb66";
$icon-fi-rr-home-location: "\eb67";
$icon-fi-rr-home-location-alt: "\eb68";
$icon-fi-rr-hotdog: "\eb69";
$icon-fi-rr-hourglass: "\eb6a";
$icon-fi-rr-hourglass-end: "\eb6b";
$icon-fi-rr-house-flood: "\eb6c";
$icon-fi-rr-hryvnia: "\eb6d";
$icon-fi-rr-humidity: "\eb6e";
$icon-fi-rr-hurricane: "\eb6f";
$icon-fi-rr-i: "\eb70";
$icon-fi-rr-ice-cream: "\eb71";
$icon-fi-rr-ice-skate: "\eb72";
$icon-fi-rr-id-badge: "\eb73";
$icon-fi-rr-inbox: "\eb74";
$icon-fi-rr-inbox-in: "\eb75";
$icon-fi-rr-inbox-out: "\eb76";
$icon-fi-rr-incognito: "\eb77";
$icon-fi-rr-indent: "\eb78";
$icon-fi-rr-infinity: "\eb79";
$icon-fi-rr-info: "\eb7a";
$icon-fi-rr-interactive: "\eb7b";
$icon-fi-rr-interlining: "\eb7c";
$icon-fi-rr-interrogation: "\eb7d";
$icon-fi-rr-italic: "\eb7e";
$icon-fi-rr-j: "\eb7f";
$icon-fi-rr-jam: "\eb80";
$icon-fi-rr-jpg: "\eb81";
$icon-fi-rr-k: "\eb82";
$icon-fi-rr-kerning: "\eb83";
$icon-fi-rr-key: "\eb84";
$icon-fi-rr-keyboard: "\eb85";
$icon-fi-rr-keynote: "\eb86";
$icon-fi-rr-kiss: "\eb87";
$icon-fi-rr-kiss-beam: "\eb88";
$icon-fi-rr-kiss-wink-heart: "\eb89";
$icon-fi-rr-kite: "\eb8a";
$icon-fi-rr-knife: "\eb8b";
$icon-fi-rr-l: "\eb8c";
$icon-fi-rr-label: "\eb8d";
$icon-fi-rr-laptop: "\eb8e";
$icon-fi-rr-laptop-code: "\eb8f";
$icon-fi-rr-lasso: "\eb90";
$icon-fi-rr-laugh: "\eb91";
$icon-fi-rr-laugh-beam: "\eb92";
$icon-fi-rr-laugh-squint: "\eb93";
$icon-fi-rr-laugh-wink: "\eb94";
$icon-fi-rr-layer-minus: "\eb95";
$icon-fi-rr-layer-plus: "\eb96";
$icon-fi-rr-layers: "\eb97";
$icon-fi-rr-layout-fluid: "\eb98";
$icon-fi-rr-leaf: "\eb99";
$icon-fi-rr-lemon: "\eb9a";
$icon-fi-rr-letter-case: "\eb9b";
$icon-fi-rr-lettuce: "\eb9c";
$icon-fi-rr-level-down: "\eb9d";
$icon-fi-rr-level-down-alt: "\eb9e";
$icon-fi-rr-level-up: "\eb9f";
$icon-fi-rr-level-up-alt: "\eba0";
$icon-fi-rr-life-ring: "\eba1";
$icon-fi-rr-lightbulb-dollar: "\eba2";
$icon-fi-rr-line-width: "\eba3";
$icon-fi-rr-link: "\eba4";
$icon-fi-rr-link-alt: "\eba5";
$icon-fi-rr-link-horizontal: "\eba6";
$icon-fi-rr-link-horizontal-slash: "\eba7";
$icon-fi-rr-link-slash: "\eba8";
$icon-fi-rr-link-slash-alt: "\eba9";
$icon-fi-rr-lipstick: "\ebaa";
$icon-fi-rr-lira-sign: "\ebab";
$icon-fi-rr-list: "\ebac";
$icon-fi-rr-list-check: "\ebad";
$icon-fi-rr-loading: "\ebae";
$icon-fi-rr-location-alt: "\ebaf";
$icon-fi-rr-lock: "\ebb0";
$icon-fi-rr-lock-alt: "\ebb1";
$icon-fi-rr-luchador: "\ebb2";
$icon-fi-rr-luggage-rolling: "\ebb3";
$icon-fi-rr-m: "\ebb4";
$icon-fi-rr-magic-wand: "\ebb5";
$icon-fi-rr-mailbox: "\ebb6";
$icon-fi-rr-makeup-brush: "\ebb7";
$icon-fi-rr-man-head: "\ebb8";
$icon-fi-rr-map: "\ebb9";
$icon-fi-rr-map-marker: "\ebba";
$icon-fi-rr-map-marker-cross: "\ebbb";
$icon-fi-rr-map-marker-home: "\ebbc";
$icon-fi-rr-map-marker-minus: "\ebbd";
$icon-fi-rr-map-marker-plus: "\ebbe";
$icon-fi-rr-marker: "\ebbf";
$icon-fi-rr-marker-time: "\ebc0";
$icon-fi-rr-mars: "\ebc1";
$icon-fi-rr-mars-double: "\ebc2";
$icon-fi-rr-mask: "\ebc3";
$icon-fi-rr-mask-carnival: "\ebc4";
$icon-fi-rr-medicine: "\ebc5";
$icon-fi-rr-megaphone: "\ebc6";
$icon-fi-rr-meh: "\ebc7";
$icon-fi-rr-meh-blank: "\ebc8";
$icon-fi-rr-meh-rolling-eyes: "\ebc9";
$icon-fi-rr-melon: "\ebca";
$icon-fi-rr-menu-burger: "\ebcb";
$icon-fi-rr-menu-dots: "\ebcc";
$icon-fi-rr-menu-dots-vertical: "\ebcd";
$icon-fi-rr-message-code: "\ebce";
$icon-fi-rr-meteor: "\ebcf";
$icon-fi-rr-microphone: "\ebd0";
$icon-fi-rr-microphone-alt: "\ebd1";
$icon-fi-rr-mind-share: "\ebd2";
$icon-fi-rr-minus: "\ebd3";
$icon-fi-rr-minus-small: "\ebd4";
$icon-fi-rr-mobile: "\ebd5";
$icon-fi-rr-mobile-button: "\ebd6";
$icon-fi-rr-mobile-notch: "\ebd7";
$icon-fi-rr-mode-landscape: "\ebd8";
$icon-fi-rr-mode-portrait: "\ebd9";
$icon-fi-rr-money: "\ebda";
$icon-fi-rr-money-bill-wave: "\ebdb";
$icon-fi-rr-money-bill-wave-alt: "\ebdc";
$icon-fi-rr-money-check: "\ebdd";
$icon-fi-rr-money-check-edit: "\ebde";
$icon-fi-rr-money-check-edit-alt: "\ebdf";
$icon-fi-rr-moon: "\ebe0";
$icon-fi-rr-moon-stars: "\ebe1";
$icon-fi-rr-motorcycle: "\ebe2";
$icon-fi-rr-mountains: "\ebe3";
$icon-fi-rr-mouse: "\ebe4";
$icon-fi-rr-mug: "\ebe5";
$icon-fi-rr-mug-alt: "\ebe6";
$icon-fi-rr-mug-hot: "\ebe7";
$icon-fi-rr-mug-hot-alt: "\ebe8";
$icon-fi-rr-mug-tea: "\ebe9";
$icon-fi-rr-mushroom: "\ebea";
$icon-fi-rr-music: "\ebeb";
$icon-fi-rr-music-alt: "\ebec";
$icon-fi-rr-music-file: "\ebed";
$icon-fi-rr-n: "\ebee";
$icon-fi-rr-navigation: "\ebef";
$icon-fi-rr-network: "\ebf0";
$icon-fi-rr-network-cloud: "\ebf1";
$icon-fi-rr-noodles: "\ebf2";
$icon-fi-rr-notebook: "\ebf3";
$icon-fi-rr-o: "\ebf4";
$icon-fi-rr-oil-can: "\ebf5";
$icon-fi-rr-oil-temp: "\ebf6";
$icon-fi-rr-olive-oil: "\ebf7";
$icon-fi-rr-olives: "\ebf8";
$icon-fi-rr-onion: "\ebf9";
$icon-fi-rr-opacity: "\ebfa";
$icon-fi-rr-overline: "\ebfb";
$icon-fi-rr-p: "\ebfc";
$icon-fi-rr-package: "\ebfd";
$icon-fi-rr-page-break: "\ebfe";
$icon-fi-rr-paint-brush: "\ebff";
$icon-fi-rr-paint-roller: "\ec00";
$icon-fi-rr-palette: "\ec01";
$icon-fi-rr-pan: "\ec02";
$icon-fi-rr-paper-plane: "\ec03";
$icon-fi-rr-password: "\ec04";
$icon-fi-rr-pause: "\ec05";
$icon-fi-rr-paw: "\ec06";
$icon-fi-rr-peach: "\ec07";
$icon-fi-rr-pencil: "\ec08";
$icon-fi-rr-pencil-ruler: "\ec09";
$icon-fi-rr-pennant: "\ec0a";
$icon-fi-rr-people-poll: "\ec0b";
$icon-fi-rr-pepper: "\ec0c";
$icon-fi-rr-pepper-hot: "\ec0d";
$icon-fi-rr-percentage: "\ec0e";
$icon-fi-rr-pharmacy: "\ec0f";
$icon-fi-rr-phone-call: "\ec10";
$icon-fi-rr-phone-cross: "\ec11";
$icon-fi-rr-phone-office: "\ec12";
$icon-fi-rr-phone-pause: "\ec13";
$icon-fi-rr-phone-slash: "\ec14";
$icon-fi-rr-photo-film-music: "\ec15";
$icon-fi-rr-photo-video: "\ec16";
$icon-fi-rr-physics: "\ec17";
$icon-fi-rr-picnic: "\ec18";
$icon-fi-rr-picture: "\ec19";
$icon-fi-rr-pie: "\ec1a";
$icon-fi-rr-piece: "\ec1b";
$icon-fi-rr-piggy-bank: "\ec1c";
$icon-fi-rr-pineapple: "\ec1d";
$icon-fi-rr-ping-pong: "\ec1e";
$icon-fi-rr-pizza-slice: "\ec1f";
$icon-fi-rr-plane: "\ec20";
$icon-fi-rr-plane-alt: "\ec21";
$icon-fi-rr-plate: "\ec22";
$icon-fi-rr-play: "\ec23";
$icon-fi-rr-play-alt: "\ec24";
$icon-fi-rr-playing-cards: "\ec25";
$icon-fi-rr-play-pause: "\ec26";
$icon-fi-rr-plus: "\ec27";
$icon-fi-rr-plus-small: "\ec28";
$icon-fi-rr-podium: "\ec29";
$icon-fi-rr-podium-star: "\ec2a";
$icon-fi-rr-poker-chip: "\ec2b";
$icon-fi-rr-poo: "\ec2c";
$icon-fi-rr-popcorn: "\ec2d";
$icon-fi-rr-portrait: "\ec2e";
$icon-fi-rr-pot: "\ec2f";
$icon-fi-rr-pound: "\ec30";
$icon-fi-rr-power: "\ec31";
$icon-fi-rr-presentation: "\ec32";
$icon-fi-rr-print: "\ec33";
$icon-fi-rr-protractor: "\ec34";
$icon-fi-rr-pulse: "\ec35";
$icon-fi-rr-pumpkin: "\ec36";
$icon-fi-rr-puzzle: "\ec37";
$icon-fi-rr-pyramid: "\ec38";
$icon-fi-rr-q: "\ec39";
$icon-fi-rr-qrcode: "\ec3a";
$icon-fi-rr-question: "\ec3b";
$icon-fi-rr-question-square: "\ec3c";
$icon-fi-rr-quote-right: "\ec3d";
$icon-fi-rr-r: "\ec3e";
$icon-fi-rr-racquet: "\ec3f";
$icon-fi-rr-radish: "\ec40";
$icon-fi-rr-rainbow: "\ec41";
$icon-fi-rr-raindrops: "\ec42";
$icon-fi-rr-rec: "\ec43";
$icon-fi-rr-receipt: "\ec44";
$icon-fi-rr-record-vinyl: "\ec45";
$icon-fi-rr-rectabgle-vertical: "\ec46";
$icon-fi-rr-rectangle-barcode: "\ec47";
$icon-fi-rr-rectangle-code: "\ec48";
$icon-fi-rr-rectangle-horizontal: "\ec49";
$icon-fi-rr-rectangle-panoramic: "\ec4a";
$icon-fi-rr-rectangle-xmark: "\ec4b";
$icon-fi-rr-recycle: "\ec4c";
$icon-fi-rr-redo: "\ec4d";
$icon-fi-rr-redo-alt: "\ec4e";
$icon-fi-rr-reflect: "\ec4f";
$icon-fi-rr-refresh: "\ec50";
$icon-fi-rr-registered: "\ec51";
$icon-fi-rr-remove-user: "\ec52";
$icon-fi-rr-reply-all: "\ec53";
$icon-fi-rr-republican: "\ec54";
$icon-fi-rr-resize: "\ec55";
$icon-fi-rr-resources: "\ec56";
$icon-fi-rr-restaurant: "\ec57";
$icon-fi-rr-rewind: "\ec58";
$icon-fi-rr-rhombus: "\ec59";
$icon-fi-rr-rings-wedding: "\ec5a";
$icon-fi-rr-road: "\ec5b";
$icon-fi-rr-rocket: "\ec5c";
$icon-fi-rr-rocket-lunch: "\ec5d";
$icon-fi-rr-room-service: "\ec5e";
$icon-fi-rr-rotate-left: "\ec5f";
$icon-fi-rr-rotate-right: "\ec60";
$icon-fi-rr-ruble-sign: "\ec61";
$icon-fi-rr-rugby: "\ec62";
$icon-fi-rr-ruler-combined: "\ec63";
$icon-fi-rr-ruler-horizontal: "\ec64";
$icon-fi-rr-ruler-triangle: "\ec65";
$icon-fi-rr-ruler-vertical: "\ec66";
$icon-fi-rr-running: "\ec67";
$icon-fi-rr-rupee-sign: "\ec68";
$icon-fi-rr-rv: "\ec69";
$icon-fi-rr-s: "\ec6a";
$icon-fi-rr-sack: "\ec6b";
$icon-fi-rr-sack-dollar: "\ec6c";
$icon-fi-rr-sad: "\ec6d";
$icon-fi-rr-sad-cry: "\ec6e";
$icon-fi-rr-sad-tear: "\ec6f";
$icon-fi-rr-salad: "\ec70";
$icon-fi-rr-salt-pepper: "\ec71";
$icon-fi-rr-sandwich: "\ec72";
$icon-fi-rr-sauce: "\ec73";
$icon-fi-rr-sausage: "\ec74";
$icon-fi-rr-scale: "\ec75";
$icon-fi-rr-school: "\ec76";
$icon-fi-rr-school-bus: "\ec77";
$icon-fi-rr-scissors: "\ec78";
$icon-fi-rr-screen: "\ec79";
$icon-fi-rr-search: "\ec7a";
$icon-fi-rr-search-alt: "\ec7b";
$icon-fi-rr-search-dollar: "\ec7c";
$icon-fi-rr-search-heart: "\ec7d";
$icon-fi-rr-search-location: "\ec7e";
$icon-fi-rr-security: "\ec7f";
$icon-fi-rr-sensor: "\ec80";
$icon-fi-rr-sensor-alert: "\ec81";
$icon-fi-rr-sensor-fire: "\ec82";
$icon-fi-rr-sensor-on: "\ec83";
$icon-fi-rr-sensor-smoke: "\ec84";
$icon-fi-rr-settings: "\ec85";
$icon-fi-rr-settings-sliders: "\ec86";
$icon-fi-rr-share: "\ec87";
$icon-fi-rr-shekel-sign: "\ec88";
$icon-fi-rr-shield: "\ec89";
$icon-fi-rr-shield-check: "\ec8a";
$icon-fi-rr-shield-exclamation: "\ec8b";
$icon-fi-rr-shield-interrogation: "\ec8c";
$icon-fi-rr-shield-plus: "\ec8d";
$icon-fi-rr-ship: "\ec8e";
$icon-fi-rr-ship-side: "\ec8f";
$icon-fi-rr-shop: "\ec90";
$icon-fi-rr-shopping-bag: "\ec91";
$icon-fi-rr-shopping-bag-add: "\ec92";
$icon-fi-rr-shopping-basket: "\ec93";
$icon-fi-rr-shopping-cart: "\ec94";
$icon-fi-rr-shopping-cart-add: "\ec95";
$icon-fi-rr-shopping-cart-check: "\ec96";
$icon-fi-rr-shrimp: "\ec97";
$icon-fi-rr-shuffle: "\ec98";
$icon-fi-rr-shuttlecock: "\ec99";
$icon-fi-rr-shuttle-van: "\ec9a";
$icon-fi-rr-sidebar: "\ec9b";
$icon-fi-rr-sidebar-flip: "\ec9c";
$icon-fi-rr-signal-alt: "\ec9d";
$icon-fi-rr-signal-alt-1: "\ec9e";
$icon-fi-rr-signal-alt-2: "\ec9f";
$icon-fi-rr-sign-in-alt: "\eca0";
$icon-fi-rr-sign-out-alt: "\eca1";
$icon-fi-rr-skateboard: "\eca2";
$icon-fi-rr-skating: "\eca3";
$icon-fi-rr-skewer: "\eca4";
$icon-fi-rr-skiing: "\eca5";
$icon-fi-rr-skiing-nordic: "\eca6";
$icon-fi-rr-ski-jump: "\eca7";
$icon-fi-rr-ski-lift: "\eca8";
$icon-fi-rr-sledding: "\eca9";
$icon-fi-rr-sleigh: "\ecaa";
$icon-fi-rr-smartphone: "\ecab";
$icon-fi-rr-smile: "\ecac";
$icon-fi-rr-smile-beam: "\ecad";
$icon-fi-rr-smile-wink: "\ecae";
$icon-fi-rr-smog: "\ecaf";
$icon-fi-rr-smoke: "\ecb0";
$icon-fi-rr-snow-blowing: "\ecb1";
$icon-fi-rr-snowboarding: "\ecb2";
$icon-fi-rr-snowflake: "\ecb3";
$icon-fi-rr-snowflakes: "\ecb4";
$icon-fi-rr-snowmobile: "\ecb5";
$icon-fi-rr-snowplow: "\ecb6";
$icon-fi-rr-soap: "\ecb7";
$icon-fi-rr-social-network: "\ecb8";
$icon-fi-rr-sort: "\ecb9";
$icon-fi-rr-sort-alpha-down: "\ecba";
$icon-fi-rr-sort-alpha-down-alt: "\ecbb";
$icon-fi-rr-sort-alpha-up: "\ecbc";
$icon-fi-rr-sort-alpha-up-alt: "\ecbd";
$icon-fi-rr-sort-alt: "\ecbe";
$icon-fi-rr-sort-amount-down: "\ecbf";
$icon-fi-rr-sort-amount-down-alt: "\ecc0";
$icon-fi-rr-sort-amount-up: "\ecc1";
$icon-fi-rr-sort-amount-up-alt: "\ecc2";
$icon-fi-rr-sort-down: "\ecc3";
$icon-fi-rr-sort-numeric-down: "\ecc4";
$icon-fi-rr-sort-numeric-down-alt: "\ecc5";
$icon-fi-rr-soup: "\ecc6";
$icon-fi-rr-spa: "\ecc7";
$icon-fi-rr-space-shuttle: "\ecc8";
$icon-fi-rr-spade: "\ecc9";
$icon-fi-rr-sparkles: "\ecca";
$icon-fi-rr-speaker: "\eccb";
$icon-fi-rr-sphere: "\eccc";
$icon-fi-rr-spinner: "\eccd";
$icon-fi-rr-spoon: "\ecce";
$icon-fi-rr-sport: "\eccf";
$icon-fi-rr-square: "\ecd0";
$icon-fi-rr-square-code: "\ecd1";
$icon-fi-rr-square-root: "\ecd2";
$icon-fi-rr-square-terminal: "\ecd3";
$icon-fi-rr-stamp: "\ecd4";
$icon-fi-rr-star: "\ecd5";
$icon-fi-rr-starfighter: "\ecd6";
$icon-fi-rr-star-octogram: "\ecd7";
$icon-fi-rr-stars: "\ecd8";
$icon-fi-rr-stats: "\ecd9";
$icon-fi-rr-steak: "\ecda";
$icon-fi-rr-steering-wheel: "\ecdb";
$icon-fi-rr-stethoscope: "\ecdc";
$icon-fi-rr-sticker: "\ecdd";
$icon-fi-rr-stop: "\ecde";
$icon-fi-rr-stopwatch: "\ecdf";
$icon-fi-rr-store-alt: "\ece0";
$icon-fi-rr-strawberry: "\ece1";
$icon-fi-rr-subtitles: "\ece2";
$icon-fi-rr-subway: "\ece3";
$icon-fi-rr-suitcase-alt: "\ece4";
$icon-fi-rr-summer: "\ece5";
$icon-fi-rr-sun: "\ece6";
$icon-fi-rr-sunrise: "\ece7";
$icon-fi-rr-sunrise-alt: "\ece8";
$icon-fi-rr-sunset: "\ece9";
$icon-fi-rr-surfing: "\ecea";
$icon-fi-rr-surprise: "\eceb";
$icon-fi-rr-sushi: "\ecec";
$icon-fi-rr-swimmer: "\eced";
$icon-fi-rr-sword: "\ecee";
$icon-fi-rr-symbol: "\ecef";
$icon-fi-rr-syringe: "\ecf0";
$icon-fi-rr-t: "\ecf1";
$icon-fi-rr-table-columns: "\ecf2";
$icon-fi-rr-table-layout: "\ecf3";
$icon-fi-rr-table-pivot: "\ecf4";
$icon-fi-rr-table-rows: "\ecf5";
$icon-fi-rr-tablet: "\ecf6";
$icon-fi-rr-table-tree: "\ecf7";
$icon-fi-rr-tachometer: "\ecf8";
$icon-fi-rr-tachometer-alt-average: "\ecf9";
$icon-fi-rr-tachometer-alt-fastest: "\ecfa";
$icon-fi-rr-tachometer-alt-slow: "\ecfb";
$icon-fi-rr-tachometer-alt-slowest: "\ecfc";
$icon-fi-rr-tachometer-average: "\ecfd";
$icon-fi-rr-tachometer-fast: "\ecfe";
$icon-fi-rr-tachometer-fastest: "\ecff";
$icon-fi-rr-tachometer-slow: "\ed00";
$icon-fi-rr-tachometer-slowest: "\ed01";
$icon-fi-rr-taco: "\ed02";
$icon-fi-rr-tags: "\ed03";
$icon-fi-rr-tally: "\ed04";
$icon-fi-rr-target: "\ed05";
$icon-fi-rr-taxi: "\ed06";
$icon-fi-rr-temperature-down: "\ed07";
$icon-fi-rr-temperature-frigid: "\ed08";
$icon-fi-rr-temperature-high: "\ed09";
$icon-fi-rr-temperature-low: "\ed0a";
$icon-fi-rr-temperature-up: "\ed0b";
$icon-fi-rr-tenge: "\ed0c";
$icon-fi-rr-tennis: "\ed0d";
$icon-fi-rr-terrace: "\ed0e";
$icon-fi-rr-test: "\ed0f";
$icon-fi-rr-test-tube: "\ed10";
$icon-fi-rr-text: "\ed11";
$icon-fi-rr-text-check: "\ed12";
$icon-fi-rr-text-slash: "\ed13";
$icon-fi-rr-thermometer-half: "\ed14";
$icon-fi-rr-thumbtack: "\ed15";
$icon-fi-rr-thunderstorm: "\ed16";
$icon-fi-rr-thunderstorm-moon: "\ed17";
$icon-fi-rr-thunderstorm-sun: "\ed18";
$icon-fi-rr-ticket: "\ed19";
$icon-fi-rr-time-add: "\ed1a";
$icon-fi-rr-time-check: "\ed1b";
$icon-fi-rr-time-delete: "\ed1c";
$icon-fi-rr-time-fast: "\ed1d";
$icon-fi-rr-time-forward: "\ed1e";
$icon-fi-rr-time-forward-sixty: "\ed1f";
$icon-fi-rr-time-forward-ten: "\ed20";
$icon-fi-rr-time-half-past: "\ed21";
$icon-fi-rr-time-oclock: "\ed22";
$icon-fi-rr-time-past: "\ed23";
$icon-fi-rr-time-quarter-past: "\ed24";
$icon-fi-rr-time-quarter-to: "\ed25";
$icon-fi-rr-time-twenty-four: "\ed26";
$icon-fi-rr-tire: "\ed27";
$icon-fi-rr-tired: "\ed28";
$icon-fi-rr-tire-flat: "\ed29";
$icon-fi-rr-tire-pressure-warning: "\ed2a";
$icon-fi-rr-tire-rugged: "\ed2b";
$icon-fi-rr-tomato: "\ed2c";
$icon-fi-rr-tool-box: "\ed2d";
$icon-fi-rr-tool-crop: "\ed2e";
$icon-fi-rr-tool-marquee: "\ed2f";
$icon-fi-rr-tooth: "\ed30";
$icon-fi-rr-tornado: "\ed31";
$icon-fi-rr-tractor: "\ed32";
$icon-fi-rr-trailer: "\ed33";
$icon-fi-rr-train: "\ed34";
$icon-fi-rr-train-side: "\ed35";
$icon-fi-rr-tram: "\ed36";
$icon-fi-rr-transform: "\ed37";
$icon-fi-rr-trash: "\ed38";
$icon-fi-rr-treasure-chest: "\ed39";
$icon-fi-rr-treatment: "\ed3a";
$icon-fi-rr-tree: "\ed3b";
$icon-fi-rr-tree-christmas: "\ed3c";
$icon-fi-rr-triangle: "\ed3d";
$icon-fi-rr-trophy: "\ed3e";
$icon-fi-rr-truck-container: "\ed3f";
$icon-fi-rr-truck-couch: "\ed40";
$icon-fi-rr-truck-loading: "\ed41";
$icon-fi-rr-truck-monster: "\ed42";
$icon-fi-rr-truck-moving: "\ed43";
$icon-fi-rr-truck-pickup: "\ed44";
$icon-fi-rr-truck-plow: "\ed45";
$icon-fi-rr-truck-ramp: "\ed46";
$icon-fi-rr-truck-side: "\ed47";
$icon-fi-rr-tty: "\ed48";
$icon-fi-rr-turkey: "\ed49";
$icon-fi-rr-tv-music: "\ed4a";
$icon-fi-rr-typewriter: "\ed4b";
$icon-fi-rr-u: "\ed4c";
$icon-fi-rr-umbrella: "\ed4d";
$icon-fi-rr-underline: "\ed4e";
$icon-fi-rr-undo: "\ed4f";
$icon-fi-rr-undo-alt: "\ed50";
$icon-fi-rr-unlock: "\ed51";
$icon-fi-rr-upload: "\ed52";
$icon-fi-rr-usb-pendrive: "\ed53";
$icon-fi-rr-usd-circle: "\ed54";
$icon-fi-rr-usd-square: "\ed55";
$icon-fi-rr-user: "\ed56";
$icon-fi-rr-user-add: "\ed57";
$icon-fi-rr-users: "\ed58";
$icon-fi-rr-users-alt: "\ed59";
$icon-fi-rr-user-time: "\ed5a";
$icon-fi-rr-utensils: "\ed5b";
$icon-fi-rr-v: "\ed5c";
$icon-fi-rr-vector: "\ed5d";
$icon-fi-rr-vector-alt: "\ed5e";
$icon-fi-rr-venus: "\ed5f";
$icon-fi-rr-venus-double: "\ed60";
$icon-fi-rr-venus-mars: "\ed61";
$icon-fi-rr-video-arrow-down-left: "\ed62";
$icon-fi-rr-video-arrow-up-right: "\ed63";
$icon-fi-rr-video-camera: "\ed64";
$icon-fi-rr-video-camera-alt: "\ed65";
$icon-fi-rr-video-plus: "\ed66";
$icon-fi-rr-video-slash: "\ed67";
$icon-fi-rr-volcano: "\ed68";
$icon-fi-rr-volleyball: "\ed69";
$icon-fi-rr-volume: "\ed6a";
$icon-fi-rr-w: "\ed6b";
$icon-fi-rr-wagon-covered: "\ed6c";
$icon-fi-rr-wallet: "\ed6d";
$icon-fi-rr-water: "\ed6e";
$icon-fi-rr-water-bottle: "\ed6f";
$icon-fi-rr-water-lower: "\ed70";
$icon-fi-rr-watermelon: "\ed71";
$icon-fi-rr-water-rise: "\ed72";
$icon-fi-rr-wheat: "\ed73";
$icon-fi-rr-wheelchair: "\ed74";
$icon-fi-rr-whistle: "\ed75";
$icon-fi-rr-wifi-alt: "\ed76";
$icon-fi-rr-wind: "\ed77";
$icon-fi-rr-windsock: "\ed78";
$icon-fi-rr-wind-warning: "\ed79";
$icon-fi-rr-woman-head: "\ed7a";
$icon-fi-rr-world: "\ed7b";
$icon-fi-rr-wrench-simple: "\ed7c";
$icon-fi-rr-x: "\ed7d";
$icon-fi-rr-y: "\ed7e";
$icon-fi-rr-yen: "\ed7f";
$icon-fi-rr-z: "\ed80";
$icon-fi-rr-zoom-in: "\ed81";
$icon-fi-rr-zoom-out: "\ed82";
$icon-fi-rr-no-lessons: "\e900";

