@page
@model SystemDiaryClient.Pages.Shared._HotTaskProgramModuleModel
@{
}

<a href="none" class="silki">
    <div class="d-flex flex-row bgdz bgdz-03">
        <div class="dz-items">
            <div class="item-tema">
                <p>Разработка программных модулей</p>
            </div>
            <div class="item-zadanie">
                <p>Напишите ебучить тест, на ебучем "Delhi"</p>
            </div>
        </div>
        <div class="dz-items timebox bg-color-success">
            <p class="item-time icon-timer-dz"> 10.10, 21:00</p>
        </div>
    </div>
</a>
