@using ClientAPI
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SystemDiary</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/fonts/icon-font.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SystemDiaryClient.styles.css" asp-append-version="true" />
</head>
<body>
    
    <partial name="_Header" model="null"/>

    <div class="w-100 h-auto d-flex flex-row">
        <div class="col-2 menu-height margin-relative-header">
            <partial name="_Menu" model="null"/>
        </div>
        <div class="col-10 h-auto margin-relative-header">
            <div class="container-custom mt-4">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./js/client-api/authiticate.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">

        $('#button-action-logout').on('click', function() {
            logout();
        });

    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>