@page
@model SystemDiaryClient.Pages.Shared._NewsModel
@{
}

<div class="d-flex flex-row w-100 gups">
    @for (int i = 0; i < 3; i++)
    {
        <div class="card" style="width: 150px; height: 150px;">
            <p>Title</p>
        </div>
    }
</div>


